
.items {
	width: 98%;
	height: 100%;
	/*-webkit-filter: saturate(2);
  	filter: saturate(2);*/
  	border: white 1px solid;
}

.Fine, .Handmade, .Quality, .Sturdy {
	animation: shiny .5s ease-in-out infinite alternate;

}

.Fine {
	/*background: #ffdfba;*/
	background: radial-gradient(circle, #ffffba, orange);
	animation-delay: 1s;
}
.Handmade {
	background: radial-gradient(circle, #baffc9, lightgreen);
	animation-delay: 1.5s;

}

.Quality {
	background: radial-gradient(circle, #f1cbff, violet);
	animation-delay: 2.1s;

}

.Sturdy {
	background: radial-gradient(circle, #bae1ff, #AEEEEE );
	animation-delay: 1.4s;

}

.items:hover{
	filter: drop-shadow(16px 16px 20px red) invert(75%);

}

@keyframes shiny {
  from {opacity: 1;}
  to {opacity: 0.7;}
}
