.navbar {
	/*position: fixed;*/
	/*width: 100%;*/

	background: #FEC7BC;
	border-bottom: 1px solid #EEB8C5;
	text-align: center;
}

.log {
	background: none;
	border: none;
}

.links {
	text-decoration: none;
}

.nav-items-text:hover {
	color: white;
}


.login-modal {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 99;
	background: #CAE7E3;
	overflow: scroll;
}

.close-login {
	color: #C54B6C;
}

.hamburger {
	display: none;
}
/* responsive starts at width 550 */

@media only screen and (max-width: 675px) {
  .nav-items, .nav-items-text {
    display: none;
  }
  .hamburger {
  	display: block;
  	text-align: right;
  	margin-right: 10px;
  }
}


